---
import { SITE_TITLE } from "../consts";
---

<header>
	<nav>
    <div>
      <a href="/">
        <span class="sr-only">{SITE_TITLE}</span>
        <svg
          height="1em"
          viewBox="0 0 262.00732 58.672497"
          aria-hidden="true"
        >
          <g
            transform="translate(25.990552,-119.21103)">
            <path
              fill="currentColor"
              d="m -7.7621671,177.8263 c -1.9554981,-0.35118 -3.2102739,-0.97477 -4.1814359,-2.07807 -1.243517,-1.41271 -1.639397,-2.65275 -1.639397,-5.13521 0,-2.51836 0.355961,-3.90781 1.733681,-6.7672 1.671429,-3.46897 3.6815066,-5.81353 6.6916979,-7.80521 l 0.5998314,-0.39687 -0.8245003,-9.39271 c -0.6973845,-7.9446 -0.909571,-9.55988 -1.3762869,-10.47703 -0.5349513,-1.05123 -0.5374034,-1.10867 -0.080368,-1.88236 0.5504342,-0.93182 1.7721382,-1.72944 2.3243595,-1.51754 0.2117002,0.0812 0.5117232,0.42603 0.6667178,0.76621 0.1549945,0.34018 0.6045037,5.18542 0.9989094,10.76721 0.3944057,5.5818 0.790051,10.23238 0.879212,10.33463 0.089161,0.10225 0.9654661,0.0483 1.94734503,-0.11989 3.68358837,-0.63097 6.98933917,0.56193 12.10322817,4.36753 1.673073,1.24505 3.123881,2.21309 3.224017,2.1512 0.467862,-0.28915 1.34004,-3.34731 1.466686,-5.14271 0.169143,-2.39786 -0.266942,-4.1199 -1.834828,-7.2455 -4.309428,-8.5909 -12.8268914,-17.32167 -20.7537497,-21.2735 -3.2422272,-1.61637 -4.6955373,-2.02221 -7.2367863,-2.02093 -1.931322,9.8e-4 -2.441942,0.10239 -3.615339,0.718 -1.977653,1.03755 -4.380442,3.38179 -6.071982,5.92402 -1.557263,2.34042 -2.03708,2.61792 -2.892399,1.6728 -0.478308,-0.52852 -0.477974,-0.56644 0.013,-1.47813 1.438845,-2.67177 7.476195,-8.62307 10.502762,-10.35307 2.941763,-1.68152 4.726014,-2.23045 7.2515345,-2.23094 4.9518406,-9.6e-4 10.7389424,2.60669 16.9670151,7.64528 7.6142134,6.16 11.7765434,13.38933 12.4032474,21.54253 0.275803,3.58809 -0.896371,8.15141 -3.108367,12.10102 -0.436336,0.77909 -0.735051,1.56842 -0.663812,1.75407 0.185469,0.48332 2.444751,1.19502 3.793605,1.19502 0.785471,0 1.590191,-0.24984 2.550665,-0.7919 1.206739,-0.68104 1.469829,-0.74315 1.879379,-0.44368 0.927129,0.67793 0.298341,1.94553 -2.199856,4.43476 -2.930274,2.91977 -5.058289,4.04464 -7.670302,4.05454 -1.255063,0.005 -2.11863,-0.15905 -3.032471,-0.57521 l -1.277694,-0.58185 -1.8849868,1.62236 c -3.7038378,3.18779 -7.6349532,5.31722 -11.3476016,6.14684 -1.8641546,0.41656 -5.2870528,0.69426 -6.3047307,0.51149 z m 12.9847116,-7.96198 c 0.6659142,-0.29495 1.7706231,-0.88476 2.4549087,-1.31067 L 8.9216088,167.77927 5.229787,165.0188 c -3.6141133,-2.70237 -6.5727335,-4.65577 -6.7413021,-4.45087 -0.046558,0.0566 0.017466,1.17445 0.1422768,2.48414 0.276965,2.9063 0.1585868,3.51122 -0.7308097,3.73444 -1.1802071,0.29622 -1.4631224,-0.31559 -1.7765062,-3.84169 -0.2758667,-3.10397 -0.3031109,-3.20004 -0.9075229,-3.20004 -2.6287545,0 -3.776555,3.68347 -2.0332322,6.52496 0.8958145,1.46011 3.4035816,3.29464 5.360303,3.92127 1.70086275,0.5447 5.0860581,0.37913 6.6795508,-0.32669 z m 124.2705655,3.77353 c -2.85564,-0.72551 -4.53226,-1.94744 -5.34645,-3.89655 -0.8686,-2.07938 -0.35477,-3.2196 2.57236,-5.70816 2.17019,-1.84503 2.57093,-1.92432 4.40191,-0.87101 3.15604,1.81559 7.93488,3.99759 10.20961,4.66167 3.20801,0.93654 7.08721,1.02922 8.8872,0.21233 3.53213,-1.603 5.44019,-6.02411 3.97805,-9.21739 -0.5368,-1.17235 -2.48746,-3.10726 -4.28666,-4.25205 -0.64364,-0.40953 -3.18225,-1.7961 -5.64136,-3.08127 -6.14444,-3.21116 -8.24642,-4.86521 -9.72866,-7.65548 -0.84212,-1.58527 -0.83579,-4.78947 0.0132,-6.6894 2.07087,-4.63421 7.98511,-9.91552 14.9803,-13.37715 4.4784,-2.21617 7.59133,-3.17811 10.90905,-3.37106 2.89873,-0.16858 4.54014,0.20589 5.61535,1.2811 1.87595,1.87595 0.9134,5.29655 -2.11626,7.52053 -1.52268,1.11775 -2.64981,1.40398 -3.15093,0.80017 -0.27734,-0.33418 -0.28854,-0.57295 -0.0513,-1.09359 1.14983,-2.5236 -0.76795,-4.20191 -4.71299,-4.12449 -2.31475,0.0454 -4.45488,0.62221 -7.08415,1.90925 -3.8531,1.8861 -6.70522,4.59001 -7.74525,7.34276 -0.85987,2.2759 -0.007,4.29802 2.99047,7.08803 1.91197,1.7798 2.69327,2.2886 9.31478,6.06609 3.94846,2.25256 7.18827,5.28254 7.89556,7.38421 1.11497,3.31307 0.0545,5.84644 -4.25756,10.17083 -1.2144,1.21787 -2.1395,2.2828 -2.05578,2.36652 0.40142,0.40142 3.74191,-0.64591 6.68573,-2.09615 2.76313,-1.36123 3.26051,-1.70104 3.37413,-2.30522 0.75757,-4.02814 2.00363,-7.05863 2.90234,-7.05863 0.45582,0 0.56013,0.29142 0.82812,2.31361 0.66405,5.01079 3.2744,7.74284 6.92043,7.2431 1.7294,-0.23704 4.84287,-1.97033 5.3051,-2.95338 0.44861,-0.95409 2.92631,-3.48193 3.74543,-3.82122 1.00737,-0.41727 2.00515,-0.17025 2.52654,0.62549 0.22382,0.34159 0.6338,1.43921 0.91108,2.43916 0.54701,1.97268 1.21508,2.75282 2.356,2.75121 1.15236,-0.002 2.23248,-0.87878 3.21184,-2.60826 1.44333,-2.54883 2.32949,-3.67094 3.1154,-3.94492 1.24119,-0.43268 1.78876,0.0144 3.08029,2.51505 2.03058,3.93158 4.68312,6.42564 6.82449,6.41675 1.8707,-0.008 2.01108,-0.14374 1.72448,-1.67047 -0.26291,-1.40052 -0.0567,-12.45445 0.29576,-15.85456 0.12866,-1.2411 0.0958,-1.78594 -0.10785,-1.78594 -0.40219,0 -4.77648,1.82028 -7.59985,3.16254 -2.80295,1.33255 -3.40148,1.32224 -3.74401,-0.0645 -0.22002,-0.89076 -0.1756,-1.07238 0.39687,-1.62281 0.35455,-0.34089 3.11454,-1.61156 6.13332,-2.8237 l 5.4887,-2.2039 0.14622,-0.93579 c 0.34768,-2.22514 1.23425,-5.78408 1.69448,-6.80214 0.54723,-1.21049 1.62955,-2.08631 2.27306,-1.83937 0.76276,0.2927 1.21835,1.98294 1.26668,4.69935 0.0255,1.43238 0.12542,2.60549 0.22209,2.60691 0.0967,0.001 1.76353,-0.57552 3.70416,-1.2821 8.04136,-2.92784 11.07514,-3.74589 13.99314,-3.77321 2.12666,-0.0199 3.01786,0.39683 3.23081,1.51079 0.19134,1.00093 -0.5663,1.67647 -3.0309,2.70248 -2.24797,0.93583 -2.53661,0.98037 -3.50223,0.54041 -0.53914,-0.24565 -1.1401,-0.18922 -3.1213,0.29309 -3.92415,0.95532 -11.63716,3.54417 -11.85732,3.97988 -0.11029,0.21828 -0.39658,1.28984 -0.63621,2.38125 -0.23962,1.09141 -0.72269,2.57412 -1.07349,3.29491 -0.60436,1.2418 -0.62506,1.44441 -0.39463,3.86285 0.42173,4.42612 1.03654,6.39608 2.45947,7.88053 1.1096,1.15756 2.5672,1.88875 4.13545,2.07448 1.55178,0.18379 2.73372,-0.18347 4.39758,-1.36643 0.6987,-0.49676 1.36842,-0.8426 1.48827,-0.76853 0.61368,0.37928 -0.17373,2.9552 -1.28861,4.21551 -1.06279,1.20142 -3.48664,2.94744 -5.10807,3.6796 -3.32298,1.50049 -6.83323,0.90548 -8.25795,-1.39977 l -0.55889,-0.90429 -0.47626,0.92833 c -1.4805,2.88579 -6.17542,4.53126 -8.9256,3.12822 -2.05859,-1.05022 -3.6757,-3.45662 -4.29627,-6.39323 -0.39026,-1.84672 -0.69638,-2.42612 -1.14381,-2.16485 -0.19266,0.1125 -1.4217,1.51423 -2.7312,3.11496 -2.80617,3.43025 -3.34332,3.95307 -4.56988,4.44798 -1.95711,0.78967 -3.82434,-0.69959 -4.50484,-3.59297 -0.17905,-0.7613 -0.50099,-1.83067 -0.71542,-2.37639 l -0.38986,-0.99221 -0.72464,1.00034 c -0.96946,1.3383 -2.94092,3.06594 -5.03872,4.41557 -2.34869,1.51105 -3.30531,1.85442 -5.15937,1.85192 -2.77672,-0.004 -4.74147,-1.61781 -5.46509,-4.48965 -0.18334,-0.72761 -0.35566,-1.36005 -0.38295,-1.40543 -0.0273,-0.0454 -1.04436,0.45447 -2.26016,1.11076 -4.35378,2.35019 -11.55123,4.77197 -18.2409,6.13767 -4.19017,0.85542 -12.63945,1.14007 -15.12167,0.50944 z m -88.754956,-1.46019 c -0.96224,-0.3876 -1.466813,-1.46856 -1.608258,-3.44544 -0.07255,-1.01403 -0.250914,-1.84369 -0.396358,-1.84369 -0.145443,0 -1.136749,0.82861 -2.202901,1.84135 -1.066152,1.01274 -2.449202,2.10303 -3.073444,2.42288 -2.011081,1.03042 -4.486951,0.60799 -5.734878,-0.97849 -1.80126,-2.28993 -0.425091,-7.51558 2.921302,-11.09288 1.68806,-1.80454 5.097251,-4.15525 7.16668,-4.94157 1.525828,-0.57977 3.847345,-0.62204 5.113265,-0.0931 1.911676,0.79875 2.090073,3.29152 0.340893,4.76336 -1.086602,0.91432 -1.576511,0.84791 -3.030848,-0.41081 -1.912635,-1.65537 -3.393033,-1.99764 -4.869074,-1.12572 -1.594982,0.94218 -2.40641,3.93286 -1.597146,5.8866 0.443237,1.07007 1.853676,1.70527 3.446612,1.55221 1.56956,-0.15081 2.346785,-0.73357 3.559625,-2.66897 0.833796,-1.33054 1.060283,-1.52671 1.680105,-1.45521 0.696538,0.0804 0.71394,0.12397 0.627773,1.57367 -0.09826,1.65319 0.265484,2.60107 1.407717,3.66835 1.102853,1.03048 2.58058,0.91627 4.279339,-0.33073 1.467846,-1.0775 2.735943,-1.31952 2.735943,-0.52216 0,0.25851 -0.656382,1.30031 -1.458626,2.3151 -3.185836,4.0299 -6.76608,5.90903 -9.307721,4.88525 z m 30.833045,-0.50537 c -2.181442,-0.7042 -3.402892,-2.13333 -4.077552,-4.77086 -0.416354,-1.62771 -0.388671,-4.15856 0.06607,-6.04035 0.144939,-0.59978 0.137917,-0.59889 -1.14167,0.14397 -0.708129,0.4111 -1.637328,0.92123 -2.064887,1.13361 -0.669374,0.33251 -0.873731,0.71687 -1.470864,2.76645 -0.863268,2.96306 -1.557949,4.31556 -2.757594,5.36886 -1.438501,1.26302 -4.042254,1.48128 -5.588074,0.46842 -1.54232,-1.01057 -2.751492,-4.22985 -2.762952,-7.35604 -0.0043,-1.18149 -0.05781,-1.27545 -0.934355,-1.6417 -0.511369,-0.21366 -0.995923,-0.56089 -1.076787,-0.77162 -0.180522,-0.47043 2.155177,-4.55661 2.904687,-5.08159 1.277946,-0.89511 2.454703,0.0137 3.189942,2.4636 0.251227,0.83712 0.577881,1.9192 0.725898,2.40462 0.65633,2.15245 2.921788,3.49363 4.336026,2.56699 0.920862,-0.60337 0.791551,-1.25451 -0.446763,-2.24965 -1.316201,-1.05773 -2.617825,-3.0356 -2.617825,-3.9779 0,-1.48545 2.877376,-5.82099 3.863225,-5.82099 0.399663,0 1.018806,1.19213 1.298067,2.49936 0.320446,1.50001 2.680558,3.05689 4.634014,3.05689 0.333183,0 1.009804,-0.30816 1.503603,-0.68479 0.493799,-0.37664 1.054213,-0.62479 1.245365,-0.55144 0.216071,0.0829 0.419081,0.85933 0.536641,2.05237 0.616601,6.25753 4.6186,9.15308 9.340887,6.75837 1.446193,-0.73337 1.821509,-1.11813 2.872022,-2.9443 0.892317,-1.55116 3.416334,-4.15166 5.262196,-5.42165 3.407516,-2.34443 5.775845,-1.69162 2.642428,0.72836 -1.921852,1.48428 -2.504542,2.47103 -2.505792,4.24341 -0.0012,1.75661 0.510817,2.76934 1.680988,3.32462 1.0817,0.5133 2.005738,0.54926 2.958559,0.11512 0.613665,-0.2796 0.678647,-0.42936 0.545314,-1.25677 -0.358489,-2.22461 -0.47778,-10.61925 -0.192321,-13.53383 1.03173,-10.53411 3.980058,-18.49405 6.850115,-18.49405 0.44719,0 1.00648,0.0742 1.24286,0.16492 1.24341,0.47714 2.17466,4.59388 1.87513,8.28925 -0.47432,5.8518 -2.16906,13.82008 -3.944839,18.54773 l -0.932565,2.48277 0.703656,1.29284 c 0.971718,1.78537 2.737368,3.2712 4.494148,3.78191 1.2713,0.36958 1.61094,0.37422 2.93709,0.0402 1.77664,-0.44753 2.15379,-0.36763 2.15379,0.45632 0,0.83477 -2.93748,3.50476 -4.94249,4.49242 -3.45276,1.70081 -6.958813,0.56404 -8.711048,-2.82441 l -0.405159,-0.78349 -1.393045,1.31748 c -2.039353,1.92873 -3.822187,2.75456 -6.26293,2.90105 -1.501602,0.0901 -2.207424,0.0146 -2.818727,-0.30149 -0.925293,-0.47848 -1.844321,-1.81743 -2.089752,-3.04458 -0.09125,-0.45625 -0.2238,-0.82955 -0.294555,-0.82955 -0.07075,0 -0.68095,0.46038 -1.355989,1.02306 -1.341784,1.11846 -3.7131,2.65266 -4.875306,3.15426 -0.997222,0.43039 -3.335017,0.62072 -4.198882,0.34186 z m 26.626139,-14.91476 c 1.071064,-2.56341 2.888412,-10.6439 3.196072,-14.21067 0.17996,-2.08637 -0.18628,-5.56549 -0.70592,-6.70598 -0.696503,-1.52866 -2.02446,-0.9463 -2.84538,1.24781 -1.111792,2.97153 -1.433394,5.7391 -1.279915,11.01442 0.124097,4.26542 0.761552,9.525 1.154418,9.525 0.06433,0 0.280661,-0.39176 0.480725,-0.87058 z m -28.639732,-6.59819 c -1.458594,-0.70304 -2.167105,-3.41988 -1.340258,-5.13932 0.432254,-0.89888 1.927698,-1.94399 2.781653,-1.94399 1.095203,0 2.434389,0.73013 3.003879,1.63772 0.436852,0.69622 0.528962,1.19567 0.449158,2.43552 -0.09006,1.39912 -0.200118,1.65109 -1.069037,2.4474 -0.794073,0.72771 -1.172004,0.88447 -2.097011,0.86979 -0.6206,-0.01 -1.398373,-0.14805 -1.728384,-0.30712 z m 97.895834,0 c -1.45859,-0.70304 -2.1671,-3.41988 -1.34026,-5.13932 0.43226,-0.89888 1.9277,-1.94399 2.78166,-1.94399 1.0952,0 2.43439,0.73013 3.00388,1.63772 0.43685,0.69622 0.52896,1.19567 0.44915,2.43552 -0.09,1.39912 -0.20012,1.65109 -1.06903,2.4474 -0.79408,0.72771 -1.17201,0.88447 -2.09701,0.86979 -0.62061,-0.01 -1.39838,-0.14805 -1.72839,-0.30712 z"
            />
          </g>
        </svg>
      </a>
    </div>

		<div class="social-links">
      <a href="https://www.linkedin.com/in/davidsint/" target="_blank">
        <span class="sr-only">Follow David on LinkedIn</span>
        <svg 
          viewBox="0 0 72 72"
          aria-hidden="true"
          width="32" 
          height="32"
          astro-icon="social/linkedin"
          ><g fill="none" fill-rule="evenodd"><path
            d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z" fill="currentColor"/><path 
            d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z"
            fill="#FFF"/>
          </g>
        </svg>
      </a>
      <a href="https://github.com/DavidSint" target="_blank">
        <span class="sr-only">Go to David's GitHub profile</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a>
      <a href="https://x.com/DavidRSint" target="_blank">
        <span class="sr-only">Follow David on X</span>
        <svg viewBox="0 0 300 271" aria-hidden="true" astro-icon="social/twitter" width="32" height="32">
          <path
          fill="currentColor"
          d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z"/>
         </svg>
      </a>
    </div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--bg);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		padding: 1em 0.5em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
    gap: .2em;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
